# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages for Data Science
* Popular libraries for Data Science
* Data Science tools
* Evaluation of some arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:<br>
1) Python<br>
2) R<br>
3) Scala<br>
4) Java<br>

Some of the commonly used libraries used by Data Scientists include:<br>
1) Pandas<br>
2) Matplotlib<br>
3) Seaborn<br>
4) Scikit-learn<br>
5) Scipy<br>

| Data Science Tools     |
|:-----------------------|
|1) Jupyter              |
|2) Apache Zeppelin      |                                   
|3) RStudio              |
|4) Spyder               |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
\- Anshul Mehra